/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #45a89a;
  --secondary-color: #30756c;
  --text-color: #fbfafb;
  --text-color-2: #82b7b0;
  --dark-color: #171515;
  --primary-load: #aef5eb;
  --secondary-load: #64f5e2;

  --yellow: #eecc75;
  --green: #cad297;

  --font-family-titles: "DM Sans", sans-serif;
  --font-family-text: "Inter", sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;
}

html {
  background: linear-gradient(
    172.45deg,
    var(--primary-color) 24.02%,
    var(--dark-color) 97.41%
  );
  font-size: 60.5%;
  color: var(--text-color);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 24px;
  color: var(--text-color);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
  color: var(--text-color);
  font-weight: var(--font-weight-title2);
}

h3 {
  color: var(--text-color);
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}

input {
  background-color: var(--text-color);
  color: var(--secondary-color);
  border: none;
  font-size: 1.8rem;
  padding-left: 16px;
}

input::placeholder {
  color: var(--text-color-2);
  font-family: var(--font-family-text);
}

button {
  background-color: var(--secondary-color);
  border: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Shared */
.header-container {
  width: 100%;
  min-width: 320px;
}

.trendingPreview-container,
.categoriesPreview-container {
  margin-top: 45px;
  width: 100%;
  min-width: 320px;
  position: relative;
}

.trendingPreview-header,
.categoriesPreview-title {
  margin-top: 24px;
  margin-bottom: 24px;
}

.trendingPreview-header {
  margin: 0 auto;
  width: 90%;
  min-width: 288px;
}

.movie-container {
  cursor: pointer;
  position: relative;
  min-height: 225px;
  width: 155px;
  min-width: 155px;
  max-width: 155px;
  display: block;
  border-radius: 8px;
}

.movie-img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  min-height: 225px;
  margin-bottom: 0px;
}

.categoriesPreview-list,
.categories-list {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 16px;
  min-width: 288px;
  gap: 10px;
}

/* Header */
.header-container {
  padding-top: 40px;
  position: relative;
}

.header-container article {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.header-container section {
  width: 65%;
  min-width: 288px;
}

.header-container--long {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.65) 89.27%,
      rgba(0, 0, 0, 0) 39.17%
    ),
    url(./img/default_movie.jpg);
  background-size: cover;
  height: 900px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container--categoryView {
  background: linear-gradient(
    180deg,
    rgba(238, 204, 117, 0.5) 0%,
    rgba(238, 204, 117, 0) 72.92%
  );
}

.header-title {
  padding-top: 16px;
  margin-bottom: 36px;
  margin-left: 70px;
}

.header-title--categoryView {
  display: inline;
  padding-top: 0px;
  margin: 30px;
}
.header-logo {
  display: inline-block;
  background-image: url("./icon/movie_icon.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  position: absolute;
  top: calc(25% - 12.5px);
}

.header-arrow {
  display: inline-block;
  font-weight: var(--font-weight-text2);
  font-size: 36px;
  margin-bottom: 16px;
  margin-left: 10px;
  cursor: pointer;
  /* top: calc(6% - 7.5px);
  border-radius: 50px;
  background-color: var(--secondary-color);
  width: 50px;
  height: 50px;
  padding-top: 6px;
  font-size: 3rem;
  text-align: center;
  position: fixed;
  background-blend-mode: multiply;
  z-index: 1;
  cursor: pointer; */
}
.header-arrow--white {
  color: whitesmoke;
}

.header-container section {
  width: 90%;
  margin: 0 auto;
}

.header-searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  min-width: 288px;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.header-searchForm input:focus,
.header-searchForm button:hover {
  box-shadow: 0 1px 8px 0 rgba(255, 255, 255, 0.488);
  border: #dfe1e500;
  cursor: pointer;
}

.header-searchForm input {
  height: 48px;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
}

.header-searchForm button {
  width: 56px;
  height: 49.2px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.header-searchForm span {
  display: inline-block;
  background-image: url("./icon/search_icon.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  margin-top: 5px;
}

/* Trending */
.trendingPreview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.trendingPreview-btn {
  border-radius: 10px;
  height: 25px;
  width: 88px;
  display: flex;
  justify-content: center;
  background-color: var(--text-color);
  border: none;
  color: var(--primary-color);
}

.trendingPreview-btn span {
  display: inline-block;
  background-image: url("./icon/filmplus_icon.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  margin-top: 5px;
  margin-right: 4px;
}

.trendingPreview-btn p {
  margin-top: 6px;
}

.trendingPreview-movieList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  min-height: 251px;
  width: 90%;
  min-width: 288px;
  margin: 25px auto;
  padding: 10px;
  border-radius: 8px;
  background-color: #0808084d;
  gap: 8px;
}

.trendingPreview-movieList .movie-container {
  margin-right: 8px;
  display: inline-block;
}

.trendingPreview-movieList .movie-container .movie-img {
  min-height: 231px;
  max-height: 275px;
  width: 155px;
  min-width: 155px;
  max-width: 155px;
  border-radius: 8px;
}
/* no puse este */
.trendingPreview-container h3 {
  width: 70%;
  margin-left: 5px;
}

/* Categories */

.categoriesPreview-container {
  margin: 0 auto;
  width: 90%;
  min-width: 288px;
}
.category-container {
  width: auto;
  min-width: 108px;
  height: 40px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  cursor: pointer;
}

.category-title {
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 1.4rem;
  padding-top: 12px;
}

/* Generic List (search, trending & category) */
.genericList-container {
  width: 100%;
  min-width: 320px;
}

.genericList-container .movie-container {
  display: inline-block;
  margin: 25px;
  padding-top: 25px;
  width: 155px;
  min-height: 295px;
  background-color: var(--secondary-color);
}

.genericList-container .movie-img {
  display: inline-block;
  width: 100%;
}

/* Movie Detail */
.movieDetail-container {
  width: 100%;
  min-width: 320px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 32px 24px;
  margin-top: 400px;
  z-index: 1;
  position: absolute;
  background-color: var(--primary-color);
}

.movieDetail-title {
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
}

.movieDetail-score {
  display: inline-block;
  width: 18%;
  text-align: right;
  font-weight: var(--font-weight-title2);
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.movieDetail-score::before {
  content: "★";
  color: var(--yellow);
  font-size: 3.2rem;
  padding-right: 10px;
}

.movieDetail-description {
  margin: 0 0 24px 0;
  font-size: 2.5rem;
}

.relatedMovies-container {
  margin-top: 24px;
  height: 216px;
  width: 100%;
  min-width: 288px;
}

.relatedMovies-title {
  margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  min-height: 215px;
  min-width: 288px;
  margin: 25px auto;
  padding: 6px;
  border-radius: 8px;
  background-color: #0808084d;
}

.relatedMovies-scrollContainer .movie-container {
  display: inline-block;
  margin-right: 8px;
  width: 155px;
}

.relatedMovies-scrollContainer .movie-img {
  display: inline-block;
  width: 100%;
  min-width: 125px;
  border-radius: 8px;
}

footer {
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  min-width: 320px;
  margin-top: 55px;
}

/* Navigation */
.inactive {
  display: none;
}
